<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="../static/MooJS.js"> </script>
    <link rel="stylesheet" href="../static/cssDesign.css">
    <title>Contact MoneyMoo</title>
</head>
<body>
  
    <center>
        <header>
            <div id="imageheader"> <img id="cowLogo" ; src="../static/logo.jpg" alt="oops"></div>
        </header>
        <nav>
            <ul id="nav-bar">
                <li><a href="../templates/HomePage.html" >Home</a></li>
                <li><a href="../templates/workingOnIt.html">About us</a></li>
                <li><a href="../templates/workingOnIt.html">Join us</a></li>
                <li><a href="../templates/contact.html">Contact</a></li>
            </ul>
        </nav>

      <form action="" id="ContactForm" onsubmit="sayThankU()">
        <style>    
            body{background:url(../static/money.jpg);}
            </style>
          <h4 id="instructions"> <p>Please fill in your information in the form </p> <p>(* is required)</p></h4>
        <h4 id="questions"> 
            <div id="Q">
            <label for="firstName">First Name *</label><br>
            <input type="text" id="firstName" name="firstName" placeholder="FirstName" required>
            </div>
            <div id="Q">
                <label for="lastName">Last Name *</label><br>
                <input type="text" id="lastName" name="lastName" placeholder="LastName" required>
            </div>
            <div id="Q">
                <label for="ID">ID Number * </label><br>
                <input type="number" id="ID" name="ID" placeholder="ID" minlength="8" maxlength="9" required>
            </div>
            <div id="Q">
                <label for="email">Email *</label><br>
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div id="Q">
                <label for="phoneNumber">Phone Number</label><br>
                <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="PhoneNumber" minlength="9" maxlength="12">
            </div>
            <div id="Q">   
                <label for="whereFrom">How did you hear about us?:</label>
                <select name="options" id="options" required>
                    <option value="friendsORfamily">friends or family</option>
                    <option value="Facebook">Facebook</option>
                    <option value="Instagram">Instagram</option>
                    <option value="TV">TV</option>
                    <option value="other">other</option>
                </select>
            </div> 
        </h4>
            <input type="submit" value="Submit"  id="submit">            
</form> 
</center>
    <footer id="footer">
        <span>
            <h2>if you have any question please contact us: 03-9123456</h2>
        </span>
    </footer>

</body>
</html>




  

