
  <!DOCTYPE html>
  <html lang="nl">
  
  <head id="headertry">
    <title>Bank MoneyMoo</title>
   <link rel="stylesheet" href="../static/cssDesign.css">

    <div>
        <img id="cowLogo" ; src="../static/logo.jpg" alt="oops">
    </div>
    <ul id="nav-bar">
          <li><a href="../templates/HomePage.html">Home</a>
          </li>
          <li><a href="../templates/workingOnIt.html">About us</a>
          </li>
          <li><a href="contact.html">Contact</a>
          </li>
    </ul>

</head>  
  
  </html>