<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/cssDesign.css">
  <title>inProcess</title>
</head>

<body>
    <h1>whoopsi, this page is not ready yet</h1>
    <a href="../templates/HomePage.html" style="color: black;">back to home page</a>
    <img id="builder" ; src="../static/builder.jpg" alt="oops">
</body>

</html>

